*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    font-family: $font;
    color: $black;
    // background-color: white;
}

h1{
    font-size: 30px;
    font-weight: 500;
}

p{
    margin: 20px 0 10px;
    font-size: 1.1rem;
}